
<div class="container">
    <div class="row">
        <div class="col-4">
        {% for h in hospital %}
            <div class="card m-2" style="width: 18rem;">
                <div class="card-header">
            {% for c in h.master.all %}
                Глав Врач: {{c.fio}}
                </div>
                <br>
                <div class="card-header">
               {% for d in h.doctor1.all %}
                    Лечающий Врач: {{ d.fio}}
                </div>
                   {% for n in h.nurse.all %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Специальность: {{d.directions.title}}</li>
                        <li class="list-group-item">Опыт работы: {{d.work_experience}}</li>
                        <li class="list-group-item">Заместитель: {{n.fio}}</li>
                        <li class="list-group-item">Номер телефона: {{n.phone_number}}</li>
                        <li class="list-group-item">Пациентов в очереди: {{d.Apatient}}</li>
                    </ul>
                   {% endfor %}

               {% endfor %}
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</div>
